/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 24px;
}

.bg-dark {
  background-color: black;
}

.bg-light {
  background-color: white;
}

.fs-h1-heading {
  font-size: 8rem;
  line-height: 192px;
}

.fs-h2-heading {
  font-size: 2.5rem;
  line-height: 60px;
}

.fs-1 {
  font-size: 2rem;
  line-height: 48px;
}

.fs-2 {
  font-size: 1.5rem;
  line-height: 36px;
}

.fs-3 {
  font-size: 1.25rem;
  line-height: 30px;
}

.fs-64px {
  font-size: 4rem;
  line-height: 96px;
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #00FFA3;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-decoration-none {
  text-decoration: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.just-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 32px;
}

.btn-light {
  background-color: white;
  color: black;
}
.btn-light:hover {
  background-color: gray;
}

.btn-dark {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: gray;
}

.me-16px {
  margin-right: 16px;
}

.me-20px {
  margin-right: 20px;
}

.me-24px {
  margin-right: 24px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-36px {
  margin-bottom: 36px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 52px 0;
}
.navbar li a {
  text-decoration: none;
  color: white;
}
.navbar li a:hover {
  color: gray;
}

.banner-content {
  padding-top: 72px;
  padding-bottom: 32px;
}

.banner-img {
  margin-right: 24px;
}

.introduction {
  padding: 160px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction-body {
  width: 526px;
}

.introduction-title {
  margin-bottom: 36px;
}

.introduction-text {
  margin-bottom: 32px;
}

.about-me {
  padding: 160px 0;
}

.about-me-cards {
  width: 636px;
  gap: 24px;
}

.about-me-card-item {
  border: 1px solid #E3E3E3;
  padding: 16px;
  width: 306px;
}

.about-me-body {
  width: 526px;
}

.contact-me {
  background: -webkit-gradient(linear, left top, left bottom, from(#050014), to(rgba(1, 2, 30, 0.89)));
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact-me {
  padding: 96px 0;
}

.contact-link a:hover {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.8980392157);
          box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.8980392157);
  border-radius: 40px;
}
.contact-link img {
  -webkit-transition: all;
  transition: all;
}

.my-projects {
  padding: 160px 0;
}
.my-projects h2 {
  margin-left: 550px;
  margin-bottom: 16px;
}

.footer {
  text-align: center;
  padding: 40px 0;
}/*# sourceMappingURL=all.css.map */