// variable
// font size
$fs-base: 1rem;
$fs-h1-heading: $fs-base * 8;
$fs-h2-heading: $fs-base * 2.5;
$fs-1: $fs-base * 2;
$fs-2: $fs-base * 1.5;
$fs-3: $fs-base * 1.25;
$fs-64px: $fs-base * 4; // not in guideline

// color
$primary: #00FFA3;
$secondary: #14132B;
$dark: black;
$light: white;